<div *ngIf="movies.length > 0; else noMovies">
    <h1>{{ title }}</h1>

    <div class="alert alert-warning">
        {{ movies.length }} adet film bulundu.
    </div>

    <!-- <ng-template
        [ngTemplateOutlet]="popularMoviesList"
        [ngTemplateOutletContext]="{
            movies: popularMovies
        }"
    ></ng-template> -->
    <ng-template [ngTemplateOutlet]="moviesList"></ng-template>
</div>

<ng-template #noMovies>
    <div class="alert alert-warning">Film bulunamadı.</div>
</ng-template>

<ng-template #moviesList>
    <app-movie *ngFor="let movie of movies" [movie]="movie"></app-movie>
</ng-template>

<!-- <ng-template #popularMoviesList let-popularMovies="movies">
    <h1>Popüler Filmler</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        <div class="col" *ngFor="let item of popularMovies">
            <div class="card h-100">
                <img src="assets/img/{{ item.img }}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="cart-title">{{ item.name }}</h5>
                    <p class="card-text text-truncate">
                        {{ item.desc }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->
