<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img
                src="assets/img/{{ movie?.img }}"
                class="img-fluid rounded-start"
                alt=""
            />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h2 class="card-title">{{ movie?.name }}</h2>
                <p class="card-text">
                    {{ movie?.desc | summary : 50 }}
                </p>
                <p><b>Published Date:</b> {{ movie?.publishedDate | date }}</p>
                <button class="btn btn-sm btn-outline-primary">Details</button>
                <button
                    class="btn btn-sm btn-primary ms-2"
                    (click)="addToList($event)"
                >
                    Add to List
                </button>
            </div>
        </div>
    </div>
</div>
